{% extends 'base.html' %}
{% load static %}
{% block content %}
<h3>Enter a food:</h3>
<form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search" method="post" action="{% url 'test' %}"> 
    {% csrf_token %}
    <input name="searchFood" type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
    aria-label="Search" aria-describedby="basic-addon2" >
    <button class="btn btn-primary"  type="submit">Search</button>
</form>
<br><br>
<ul>
    {% for i in foods %}
    <p>{{i}}</p>
    {% comment %} <li id="{{ i }}" >{{print(foods[i])}}</li> {% endcomment %}
    {% endfor %}
</ul>
{% comment %} {%input("Enter cheese: ")%} {% endcomment %}
{% endblock %}
