{% extends 'base.html' %}
{% load static %}
{% block content %}
<form>
    <select name="foodGroups" id="foodGroups" action="{% url 'test' %}">
        <option value="Foundation">Foundation Foods</option>
        <option value="SR Legacy">SR Legacy Foods</option>
        <option value="Survey">Survey Foods</option>
        <option value="Branded">Branded Foods</option>
    </select>
</form>
<h3>Enter a food:</h3>
<form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search" method="post" action="{% url 'test' %}">
    {% csrf_token %}
    <input name="searchFood" type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
    aria-label="Search" aria-describedby="basic-addon2" >
    <button class="btn btn-primary"  type="submit">Search</button>
</form>
<br><br>
<ul>
    {% for food_name, nutrients in foods.items %} <!-- loop through the foods -->
    <form action="{%url 'test' %}">
    <button name="addFood" value={{food_name}} type="submit">{{food_name}}</button><br>
    </form>
        {% for nutrient_name, amount_unit in nutrients.items %}
        {{nutrient_name}}:
        {% for value in amount_unit%}
        {{value}}
        {% endfor %}
        <br>
        {% endfor %}
        <br>
    {% endfor %}
</ul>
{% comment %} {%input("Enter cheese: ")%} {% endcomment %}
{% endblock %}
